body{
    margin: 0;
    padding: 0;

   

    /***BIBLIOTECA DE VARIABLES***/
    --color_marron_os: rgb(62, 53, 46);
    --color_marron_tierra: rgb(176, 146, 112);
    --color_marron_claro: rgb(218, 198, 171);
    --color_marron_blanco: rgb(255, 251, 246);
    --color_gris_azul: rgb(73, 78, 82);
    --color_azul_claro: rgb(247, 247, 247);
    --color_gris_claro: rgb(218, 198, 171);
    --color_negro: rgb(51, 51, 51);

   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 1.2em;
}



/* #region MENU CABECERA */
header {
    width: 100%;
    height: 12vh;
    background: white;
    box-shadow: 4px 4px 4px 0px rgba(62, 53, 46, 0.2);
    padding: 1% 40px;
    position: fixed;
    top: 0;
    z-index: 10;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 1%;
   
}

nav ul {
    display: flex;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0px 50px 0px 0px;
   
}

nav h4 {
    color: var(--color_marron_tierra);
    padding: 0px 20px 0px 0px;
    margin: 0;
}

nav a {
    text-decoration: none;    
    color: var(--color_negro);
    padding: 0px 20px 0px 0px;
}  

nav a:hover {
   text-shadow: 2px 2px 4px var(--color_marron_tierra);
} 

nav img:hover {
    transform: scale(105%);
}
.desplegable {
    display: none;
    padding-right: 50px;
    align-items: right;
   
}
.desplegable-contenido {
    display: none;
    text-align: right;
    background-color: var(--color_gris_azul);
    color: var(--color_gris_claro);
    box-shadow: 2px 2px 4px var(--color_negro);
    padding: 5px;
    position: absolute;
    right: 80px;
}

.desplegable-contenido a {

    color: var(--color_azul_claro);
    padding: 0%;
    
}
.desplegable:hover .desplegable-contenido {
    display: inline-block;
}
.desplegable a:hover {
    text-shadow: 2px 2px 4px var(--color_gris_claro);
 } 

/* #endregion */

/* #region CUERPO */
main {   
   width: 100%;
   min-height: 50vh; 
   background-color: white;
   margin-top: 150px;
   justify-content: space-between;
}

/* #endregion */
/* #region CABECERA */
.cabecera_servicios{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 2%;
}
.servicios_contenido{
    display: flex;
}
/* #endregion */

/* #region IZQUIERDA */
.servicios_izq{
    width: 50%;
}
.servicios_izq p{
    width: 80%;
    text-align: left;
    padding-left: 2%;
    
}

.brochazo{
    position: relative;
    display: inline-block;
}
.titulo_servicios{
    color:#ffffff;
    position: absolute;
    font-size: 2.5dvw;
    top:30%;
    left: 10%;
    
}
.titulo_servicios2{
    color:#ffffff;
    position: absolute;
    font-size: 2.5dvw;
    top:30%;
    right: 10%;
    
}

/* #endregion */
/* #region DERECHA */
.servicios_dcha{
    width: 50%;
    margin: 0;
    justify-items: right;
    padding: 0;
    
}
.servicios_dcha p{
    text-align: right;
    padding: 0% 2% 0% 15%;
    width: 80%;
   
}

.servicios_dcha h4{
    height: 110px;
    text-align: center;
    padding: 0% 2% 0% 15%;
}

.btn_Informate {
    text-decoration: none;
    display: inline-block;
    background-color: var(--color_marron_os);
    box-shadow: 2px 2px 4px var(--color_negro);
    color: var(--color_marron_blanco);
    padding: 10px 25px;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn_Informate span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.btn_Informate span::after {
    content: ">>";
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}
  
.btn_Informate:hover span {
    padding-right: 35px;
}

.btn_Informate:hover span:after {
    opacity: 1;
    right: 0;
}
/* #endregion */


/* #region CAMBIOS PARA MOVIL */
@media only screen and (max-width: 600px) {
    body {
        font-size: 0.9em;

    }
    nav ul {
        display: none;
    }
    .desplegable {
        display: inline-block;
    }
       
}
/* #endregion */
/* #region PIE DE PÁGINA **/
footer {
    margin:0;
    padding:0% 2%; 
    background-color: #ffffff;
    color: #333333;
    box-shadow: -4px -4px 4px 0px rgba(62, 53, 46, 0.2);
}
.footer_arriba{
    display: flex;
    justify-content:space-around;
}

.direccion{
    text-align: center;
    padding-bottom: 2%;
}

.direcciones_correo{
    text-align: center;
}
/* #endregion */