body {
    margin: 0;
    padding: 0;

   

    /***BIBLIOTECA DE VARIABLES***/
    --color_marron_os: rgb(62, 53, 46);
    --color_marron_tierra: rgb(176, 146, 112);
    --color_marron_claro: rgb(218, 198, 171);
    --color_marron_blanco: rgb(255, 251, 246);
    --color_gris_azul: rgb(73, 78, 82);
    --color_azul_claro: rgb(247, 247, 247);
    --color_gris_claro: rgb(218, 198, 171);
    --color_negro: rgb(51, 51, 51);

   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 1.2em;
}



/* #region MENU CABECERA */
header {
    width: 100%;
    height: 12vh;
    background: white;
    box-shadow: 4px 4px 4px 0px rgba(62, 53, 46, 0.2);
    
    position: fixed;
    top: 0;
    z-index: 10;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 2%;
   
}

nav ul {
    display: flex;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;  
}

nav h4 {
    color: var(--color_marron_tierra);
    padding: 0px 20px 0px 20px;
    text-align: center;
    margin: 0;
}

nav a {
    text-decoration: none;    
    color: var(--color_negro);
    padding: 0px 20px 0px 0px;
}  

nav a:hover {
   text-shadow: 2px 2px 4px var(--color_marron_tierra);
} 

nav img:hover {
    transform: scale(105%);
}
.desplegable {
    display: none;
    padding-right: 50px;
    align-items: right;
   
}
.desplegable-contenido {
    display: none;
    text-align: right;
    background-color: var(--color_marron_os);
    color: var(--color_marron_blanco);
    box-shadow: 2px 2px 4px var(--color_marron_os);
    padding: 5px;
    position: absolute;
    right: 15px;
}

.desplegable-contenido a {

    color: var(--color_marron_blanco);
    padding: 1%;
    
}
.desplegable:hover .desplegable-contenido {
    display: inline-block;
}
/* #endregion */

/* #region CUERPO */
main {   
   width: 100%;
   min-height: 50vh;   
}
/* #endregion */

/* #region BANNER INTRODUCCION */

.intro {
    display: flex;
    margin-top: 10vh;
    background-image: url(../imagenes/fondo_inicio.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro_izq {
    color: var(--color_marron_blanco);
    padding: 5% 10% 5% 5%;
    text-align: center;
}
.intro_izq h3 {
    color: var(--color_marron_claro);
}
.intro_dcha {
    color: var(--color_marron_os);
    padding: 5% 5% 5% 5%;
    text-align: center;

}
.btn_contacto1 {
    text-decoration: none;
    display: inline-block;
    background-color: var(--color_marron_blanco);
    box-shadow: 2px 2px 4px var(--color_negro);
    color: var(--color_marron_os);
    padding: 10px 25px;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn_contacto1 span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.btn_contacto1 span::after {
    content: ">>";
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}
  
.btn_contacto1:hover span {
    padding-right: 35px;
   
}

.btn_contacto1:hover span:after {
    opacity: 1;
    right: 0;
}

/* #endregion */

/* #region BANNER AUTOPUBLICACIÓN **/
.autopublicacion {
  
    background-image: url(../imagenes/degradado_autopublicacion.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;  
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}
.autopub_izq {
    z-index: -1;
    float: left;
    width: 10px;
    object-fit: scale-down;

}
.autopub_dcha {
    
    text-align: center;
    padding: 0% 5% 0% 30%;
}

.btn_editorial {
    text-decoration: none;
    display: inline-block;
    background-color: var(--color_marron_os);
    box-shadow: 2px 2px 4px var(--color_negro);
    color: var(--color_marron_blanco);
    padding: 10px 25px;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn_editorial span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.btn_editorial span::after {
    content: ">>";
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}
  
.btn_editorial:hover span {
    padding-right: 35px;
}

.btn_editorial:hover span:after {
    opacity: 1;
    right: 0;
}
/* #endregion */

/* #region BANNER PUBLICACIONES **/
.publicaciones {
    width: 100%;
    color: var(--color_gris_claro);
    padding:5px 0%;
    background-color: var(--color_gris_azul) ;
    align-items: center;
    
}
.carrusel img {
    height: 300px;
}
.contenedorLibros {
    position: relative;
    text-align: center;
    padding: 10px;
   
    cursor: pointer;

}
.contenedorLibros img{
    border: outset;
    border-width: 12px;
}
.btns_carrusel {
    position: relative;
   text-align: center;
}




/* #endregion */
/* #region BANNER SINGULAR */
.Singular {
    width: 100%;   
    display: flex;
    background-color: var(--color_marron_blanco);
    background-image: url(../imagenes/fondo_singular_tienda.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  
}


.Singular_izq {
    background-image: url(../imagenes/fondo_singular.svg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    max-width: 50%;
    padding: 5% 5% 5% 5%;
       
}

.historia_Sara {
    display: flex;

}
.historia_Sara img {
    float: right;

}



/* #endregion */
/* #region CAMBIOS PARA MOVIL */
@media only screen and (max-width: 600px) {
    body {
        font-size: 1em;

    }
    nav ul {
        display: none;
    }
    .desplegable {
        display: inline-block;
    }
    .intro {
        background: none;
    }
    .intro_dcha{
        background-color: var(--color_marron_blanco);
    }
    .intro_izq {
        background-color: var(--color_marron_os);
        padding: 5%;
    }
    .autopub_dcha {
        padding: 10%;
    }
    .autopub_izq {
        display: none;
    }
    .Singular {
        background-image: none;
    }
    .Singular_izq {
        max-width: 100%;
    }
    .footer_arriba {
        display: initial
    }
}
/* #endregion */
/* #region PIE DE PÁGINA **/
footer {
    margin:0;
    padding:0% 2%; 
    background-color: #ffffff;
    color: #333333;
    box-shadow: -4px -4px 4px 0px rgba(62, 53, 46, 0.2);
}
.footer_arriba{
    display: flex;
    justify-content:space-around;
}
.footer_arriba img {
    padding-top: 2%;
}

.direccion{
    text-align: center;
    padding-bottom: 2%;
}

.direcciones_correo{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .footer_arriba {
        display: initial;
        text-align: center;
    }
}
/* #endregion */